.title{
    text-align: center;
    color:  #3d3e4e;
    font-size: 8px;
    font-weight: 700;
    text-transform: uppercase;
    margin: 70px 0 30px;
}

.title p{
    font-size: 35px;
    
    margin-top: 1px;
    text-transform: none;
}

.title h2{
    font-size:15px
}

